:root {
  --ah-color-primary: #105bd8;
  --ah-color-secondary: #ffffff;
  --ah-color-tertiary: #ffffff8c;
  --ah-color-quaternary: #5a2017;
  --ah-color-quinary: #dcc5aa;
  --ah-color-senary: #f18b81;

  font-family: 'Roboto', sans-serif;
  font-family: 'Titillium Web', sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;

  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: xx-large;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  display: flex;
  align-items: center;
  background-image: url(/src/assets/bg.png);
  background-size: cover;
  background-position: 100%;
  background-attachment: fixed;
}
